<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    <main class="h-screen flex">
      {% render "navbar", metadata: site.metadata, page: page, posts: site.posts %}

      <div class="p-4 prose">
        {{ content }}
      </div>
    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
