---
layout: default
---
<section class="container">
  <header class="w-full pb-12 border-b border-gray-700">
    <h1>
      <%= page.data.title %>
    </h1>
  </header>
  <article class="my-8 prose">
    <%= yield %>
  </article>
</section>
