<nav class="relative z-10 flex items-center justify-end h-16 shadow lg:items-stretch lg:justify-between">
    <div class="relative visible mr-8 lg:hidden" onclick="sidebarHandler(true)" id="menu">
    <svg
      aria-label="Main Menu"
      aria-haspopup="true"
      xmlns="http://www.w3.org/2000/svg"
      class="cursor-pointer icon icon-tabler icon-tabler-menu"
      width="30"
      height="30"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" />
      <line x1="4" y1="8" x2="20" y2="8" />
      <line x1="4" y1="16" x2="20" y2="16" />
    </svg>
  </div>
</nav>
