<div class="w-64 flex flex-col">
  <div class="border-r border-gray-200 pt-5 pb-4 flex flex-col flex-grow overflow-y-auto">
    <a class="block px-4 text-2xl font-bold" href="/">Better Minitest</a>

    <nav class="px-4 mt-2">
      <a class="block" href="/about">About</a>
      <a class="block" href="/posts">Posts</a>
    </nav>
  </div>
</div>
