<div class="w-64 flex flex-col flex-shrink-0">
  <div class="border-r border-gray-200 pt-5 pb-4 flex flex-col flex-grow overflow-y-auto">
    <a class="block px-4 text-2xl font-bold" href="/">Better Minitest</a>

    <nav class="px-4 mt-2">
      <h2 class="block">Examples</h2>
      {% for post in posts %}
          <a class="block m-2" href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}

      <a class="block" href="/about">About</a>
    </nav>
  </div>
</div>
